<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Freek Kalter" />

   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel=stylesheet>
   <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">

</head>
<body>

<div class="topbar" data-scrollspy="scrollspy">
   <div class="topbar-inner">
      <div class="container">
         <ul class="nav">
            <li><a class="extra" href="{{ site.baseurl }}/">home</a></li>
            <li><a class="extra" href="{{ site.baseurl }}/changelog">changelog</a></li>
            <li><a class="extra" href="{{ site.baseurl }}/license">license</a></li>
         </ul>
      </div><!--container-->
   </div><!--topbar-inner-->
</div><!--topbar-->

<div id="container" class="container">
   <div class="row">
      <div class="span16">

        {{ content }}

        <div id="footer" class="footer row">
          <div class="contact span4 offset4">
            <p>
              Freek Kalter<br />
              <a href="http://github.com/FreekKalter/">github.com/FreekKalter</a><br />
            </p>
          </div>
          <div class="sites span4">
            <p>
              <a href="mailto:freek@kalteronline.org">freek@kalteronline.org</a>
              <a href="http://twitter.com/FreekKalter/">twitter.com/FreekKalter</a><br />
            </p>
          </div>
       </div><!--footer-->
    </div><!-- span12 -->
 </div><!--row-->
</div><!-- container-->
</body>
</html>

